.app, .app-page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.app-page {
    background: #fff;
}

.app-body {
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    position: absolute;
}

.app-page--hidden {
    display: none;
}
