.app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.app-page {
    background: #fff;
    min-width: 500px;
    padding-top: 60px;
}

.app-page--hidden {
    display: none;
}
