body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

button {
    margin: 12px 8px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: .6em;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    border: 2px solid #bdbdbd;
    color: #989898;
    background: #fff;
    font-weight: bold;
}

button:hover {
    border-color: rgb(60, 60, 60);
    color: rgb(47, 47, 47);
}
