.card {
    padding: 20px;
    box-sizing: border-box;
    width: calc(50vw - 40px);
    height: calc(50vw - 40px);
    margin-bottom: 20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: #000;
    background: #efac00;
}

.card-value {
    font-size: 15vw;
    line-height: 15vw;
    text-align: center;
    width: 100%;
}

.card-label {
    font-size: 4vw;
    text-align: center;
}


@media only screen and (min-width: 870px) {
    .parking-details .card {
        max-width: 200px;
        max-height: 200px;
    }

    .card-value {
        font-size: 60px;
        line-height: 60px;
    }

    .card-label {
        font-size: 15px;
        line-height: 15px;
    }
}
