.parkingListItem {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
    transition: all .175s ease-out;
    cursor: pointer;
}

.parkingListItem:hover {
    background-color: #f0f0f0;
}

.parkingListItem-name {
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.parkingListItem-data {
  font-size: 0.9em;
  margin-right: 20px;
}

.parkingListItem-label {
  color: #717171;
  margin-right: 5px;
}

.parkingListItem-distance {
    border-radius: 3px;
    background: rgb(104, 171, 230);
    color: #fff;
    padding: 2px 5px;
}


.parkingListItem-spot {
    border-radius: 3px;
    background: rgb(104, 171, 230);
    color: #fff;
    padding: 2px 5px;
}

.parkingListItem .parkingListItem-spot--good {
    background-color: rgb(0, 186, 3);
}
.parkingListItem .parkingListItem-spot--enough {
    background-color: rgb(232, 163, 0);
}
.parkingListItem .parkingListItem-spot--shortage {
    background-color: rgb(255, 98, 0);
}
.parkingListItem .parkingListItem-spot--nospace {
    background-color: rgb(215, 36, 0);
}
